#banner
	.banner_content
		%h1 FileCabinet
		%p Keep track of your notes. Always. Anywhere.
		%button= link_to "Register", new_user_registration_path
		%br

#callouts
	.callouts_inner
		.wrapper
			.callout
				%h2 Organize
				%p Lorem ipsum dolor sit amet, ante aliquet eget interdum eget posuere. Mauris integer volutpat, et eros massa aenean lectus, tempus aliquam vestibulum, eu turpis nec libero nulla rhoncus. Sed orci mollitia ante, at mauris congue amet praesent vitae nullam, volutpat quisque tincidunt in enim at venenatis, turpis mauris vivamus. Sed pharetra, tellus eu dapibus morbi lorem tellus, eget imperdiet quisque sed luctus integer eu. Eros quisque ipsum eget enim molestiae. Integer leo libero, convallis platea vestibulum elit leo ipsum. Vitae eu odio donec mi elit vulputate, vestibulum bibendum nam quis pede sodales, fringilla cras mauris tellus nonummy, qui amet duis nam. Mi laoreet augue amet. Lectus erat, ut pede pellentesque, erat sit dignissim, morbi sodales. Vulputate dignissim et donec tincidunt ut ut. In lectus gravida integer faucibus in, tempus et praesent dis tincidunt in, enim mauris fringilla, pulvinar id vitae neque.
				%p Lorem ipsum dolor sit amet, ante aliquet eget interdum eget posuere. Mauris integer volutpat, et eros massa aenean lectus, tempus aliquam vestibulum, eu turpis nec libero nulla rhoncus. Sed orci mollitia ante, at mauris congue amet praesent vitae nullam, volutpat quisque tincidunt in enim at venenatis, turpis mauris vivamus. Sed pharetra, tellus eu dapibus morbi lorem tellus, eget imperdiet quisque sed luctus integer eu. Eros quisque ipsum eget enim molestiae. Integer leo libero, convallis platea vestibulum elit leo ipsum. Vitae eu odio donec mi elit vulputate, vestibulum bibendum nam quis pede sodales, fringilla cras mauris tellus nonummy, qui amet duis nam. Mi laoreet augue amet. Lectus erat, ut pede pellentesque, erat sit dignissim, morbi sodales. Vulputate dignissim et donec tincidunt ut ut. In lectus gravida integer faucibus in, tempus et praesent dis tincidunt in, enim mauris fringilla, pulvinar id vitae neque.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to  "Join Us!", new_user_registration_path